# HackHub: configurazioni variabili d'ambiente

# DATABASE
DB_NAME=hackhub_db
DB_USERNAME=admin
DB_PASSWORD=   # Genera una password sicura

# Autenticazione JWT
# Genera con: openssl rand -base64 64
# Oppure su Windows PowerShell: [Convert]::ToBase64String((1..64 | ForEach-Object { Get-Random -Maximum 256 }) -as [byte[]])
HACKHUB_APP_JWTSECRETBASE64=

# PROFILO SPRING
# dev  = modalità sviluppo: log dettagliati, errori visibili, hot reload abilitato
# prod = modalità produzione: prestazioni ottimizzate, log ridotti, sicurezza aumentata
SPRING_PROFILE=prod
