# Copia questo file in .env (NON committare .env)
HACKHUB_APP_JWTSECRETBASE64=__PUT_YOUR_BASE64_SECRET_HERE__

#DB
DB_URL=jdbc:postgresql://localhost:5432/__PUT_DB_NAME__
DB_USERNAME=__PUT_DB_USERNAME__
DB_PASSWORD=__PUT_DB_PASSWORD__