html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  // Modifica se cambia l'altezza del footer
  --footer-height: 72px;
  --sidebar-width-expanded: 250px;
  --sidebar-width-collapsed: 70px;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

// sposta main e footer rispetto alla sidebar così non vanno sotto 
app-sidebar + main {
  margin-left: var(--sidebar-width-expanded);
}

app-sidebar ~ app-footer {
  margin-left: var(--sidebar-width-expanded);
  position: relative;
  z-index: 1200; // footer sopra il bordo della sidebar se necessario 
}

// nessuno spostamento
@media (max-width: 992px) {
  app-sidebar + main,
  app-sidebar ~ app-footer {
    margin-left: 0;
  }
}
